<div class="map">
    <div class="map-info">
        <div class="map-info-title">приглашаем к сотрудничеству дилеров!</div>
        <address>
            <div class="street">ул. Антоновича, 162</div>
            <div class="city">Киев</div>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1396.27346772339!2d30.519670050003903!3d50.415878526614264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf3ceda38b97%3A0xbc174687cbfa773c!2z0YPQuy4g0JDQvdGC0L7QvdC-0LLQuNGH0LAsIDE2Miwg0JrQuNC10LIsINCj0LrRgNCw0LjQvdCwLCAwMjAwMA!5e0!3m2!1sru!2snl!4v1664182862018!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
