<div class="product-catalog">
    <div class="container">
        <h1 class="product-catalog-title">Каталог продукции</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-small one"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy PRO 500 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>500 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Курица</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>450 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-big two"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy PRO 1000 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>1000 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Курица</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>650 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-small three"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy PRO 500 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>500 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Рыба</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>450 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-big four"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy PRO 1000 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>1000 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Рыба</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>650 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-small five"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy slim 500 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>500 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Гречка</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>450 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-big six"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy slim 1000 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>1000 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Гречка</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>650 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-small seven"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy slim 500 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>500 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Рис</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>450 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-catalog-item">
                    <div class="product-catalog-item-block">
                        <div class="product-catalog-img-small eight"></div>
                        <div class="product-catalog-item-block-info">
                            <h2 class="product-catalog-item-block-info-title">Cat Energy slim 500 г</h2>
                            <div class="product-catalog-item-block-info-description">
                                <span>Масса</span><span>500 г</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Вкус</span><span>Рис</span>
                            </div>
                            <div class="product-catalog-item-block-info-description">
                                <span>Цена</span><span>450 грн.</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-catalog">заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>